@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --font1:Georgia, 'Times New Roman', Times, serif;
    --font2:'Shrikhand', cursive;;
    --font3:'Architects Daughter', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}

p{
    font-family: var(--font3);
    font-size: 20px;
    text-indent: 15px;
}
header{
    background-color: white;
    text-align: center;
    padding-top: 50px;
    color: darkgoldenrod;
    text-shadow: 0px 0px 2px;
    font-family: var(--font2);
}
header >h1{
    font-variant: small-caps;
    font-size: 50px;
}
header> p{
    padding-bottom: 50px;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
section{
    padding: 30px;
    line-height: 1em;
}
section.normal{
    border-radius: 7px;
    display: block;
}
section.normal >p{
    width: 500px;
    text-align: justify;
    border-radius: 10px;
    margin: auto;
}
section.imagem{
    background-color: gray;
    border-radius: 7px;
    display: block;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    background-color: rgba(243, 241, 235, 0.685);
    width: 500px;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.596);

}
section#img01{
    background-image: url('../imagens/bitcoin.jpg');
    background-position: left center;
}
section#img02{
    background-image: url('../imagens/bitcoin.jpg');
    background-position: center center;
    
}
footer{
    background-color: darkgoldenrod;
    color: white;
}
footer >p{
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
}
footer a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: white;
}