@charset "UTF-8";

*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background-image: linear-gradient(95deg,#00CCBF,#72F2EB,#747E7E );
    background-attachment: fixed;
    
}
p{
    text-align: justify;
}
h1{
    color: #1c3f44;
    text-shadow: 2px 2px 3px #3a3f3fb9;
    text-align: center;
    font-size: 70px;
    font-style: italic;
}
h2{
    color: #1c3f44;
    text-align: center;
    text-shadow: 1px 1px 0px #3a3f3fb9;
}
main{
    margin: auto;
    width: 650px;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(63, 124, 133, 0.616);
}