@charset "UTF-8";
/*versão mobile fisrt*/

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
main{
    background-color: rgba(128, 255, 0, 0.507);
    width: 60vw;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
}
img{
    display: block;
    margin: auto;
}
h1{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: rgb(1, 44, 1);
}
img#fone{
    display: block;
    margin: auto;
}
img#tablet{display: none;}
img#pc{display: none;}
img#tv{display: none;}
img#print{display: none;}

