@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(180, 120, 9),rgb(37, 37, 37));
  }

  h1{
    position: fixed;
    padding-top: 10px;
    margin-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    
  }

  /* Estilo para espaçamento entre as células da tabela */
  td {
    padding: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
  }