@charset 'UTF-8';

*{
   margin: 0px;
   padding: 0px; 
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
    padding-bottom: 90px;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate( -50%, -50%);
    padding-top: 80px;
    width: 311px;
    height: 600px;
    background: url(imagens/frame-iphone.png) no-repeat;
}
iframe#tela{
    position: relative;
    top: 0px;
    left: 18px;
    width: 270px;
    height: 471px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
    background-size: cover;
}
section#rs img{
    border-radius: 50%;
    width: 50px;
    padding: 10px;
    margin: 0px;
    box-shadow: .5px .5px 1px rgba(0, 0, 0, 0.644);
    box-sizing: border-box;
}

section#rs img:hover {
    border: 2px solid rgba(255, 255, 255, 0.699);
    transform: translate(-2px -2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    transition: transform 10s;
}